<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>JEUNESSE ET FUTUR</title>

    <!-- Lien CSS Bootstrap-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Fichiers CSS ajoutés  -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/jeunesse-et-future.css">
    <link rel="stylesheet" href="assets/css/owl.css">
<!--

JEUNESSE ET FUTURE

https://jeuneetfuture.com : l'adresse de notre site internet

-->
  </head>

  <body>

    <!-- ***** Démarrage du préchargeur ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** fermeture du préchargeur ***** -->

    <!-- Entête -->
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <ul class="left-info">

              <!-- affichage de la date et l'heure de travail automatiquement  -->
              <li><a href="#" title="Horaire de travail"><i class="fa fa-clock-o"></i>Lundi-Vendredi, 09:00-16:00</a></li>

              <!-- affichage de notre callcenter : le numero de téléphone  -->
              <li><a href="#" title="Notre telephone"><i class="fa fa-phone"></i>00243-826-084-960</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="right-icons">

              <!-- affichage des icones des reseaux   -->
              <li><a href="https://www.facebook.com/jeunesse.futur.10/"><i class="fa fa-facebook" title="Facebook"></i></a></li>
              <li><a href="https://twitter.com/FuturJeunesse"><i class="fa fa-twitter" title="Twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/jeunesse-futur-5b9478200/" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>

    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.ejs" title="logo de jeunesse et futur"><h2>JEUNESSE ET FUTUR</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.ejs" title="Accueil">Accueil
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.ejs" title="à propos de nous">à Propos De Nous</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="services.ejs" title="services">Nos Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.ejs" title="contact">Nous Contacter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="servicesplus.ejs" title="Gelato">Gelato</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Contenu de la page. -->
    <!-- La bannière commence ici -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <!--<h6>Nous sommes prêts à vous aider</h6> -->
                  <h4>Jeunesse et futur</h4>
                  <p>Notre société vise d’une part à offrir davantage l’accès aux technologies de l’information et des communications (TIC) en RDC et d’autre part à contribuer au développement social et économique...</p>
                  <a href="about.ejs" class="filled-button" title="Lire la suite">lire la suite</a>
                  
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  <!--<h6>Nous sommes ici pour vous soutenir</h6>-->
                  <h4>Solutions <br>informatiques</h4>
                  <p>Accédez au potentiel infini du monde numérique pour vos différents besoins d’informatisation. Notre laboratoire informatique réfléchit, pour vous permettre de mieux agir.</p>
                  <a href="services.ejs" class="filled-button" title="Lire la suite">lire la suite</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  <!--<h6>nous avons une solide expérience</h6>-->
                  <h4>Ecouter <br> pour mieux vivre</h4>
                  <p>Les prothèses auditives RESOUND pour profiter pleinement de la vie à un coût raisonnable.
                    Passez à notre cabinet pour examen et grâce à notre partenariat exclusif avec RESOUND GN, vous  pourrez obtenir votre prothèse de grande marque au besoin.
                  </p>
                  <a href="services.ejs" class="filled-button" title="Lire la suite">Lire la suite</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Besoin de nous contacter ?</h4>
            <span>Nous offrons les meilleurs services</span>
          </div>
          <div class="col-md-4">
            <a href="contact.ejs" class="border-button" title="contact">Nous Contacter</a>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Nos <em>Services</em></h2>
              <span>Nous offrons les meilleurs services</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item">
              <img src="assets/images/SI.jpg" title="Photo du service informatique CALEIDO offert à l'un des nos clients" alt="">
              <div class="down-content">
                <h4>Solutions informatiques</h4>
                <p>Accédez au potentiel infini du monde numérique pour vos différents besoins d’informatisation. Notre laboratoire informatique réfléchit, pour vous permettre de mieux agir.</p>
                <a href="servicesplus3.ejs" class="filled-button" title="Lire la suite">Lire la suite</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item">
              <img src="assets/images/ec.jpg" title="Photo du service Ecouter et mieux vivre offert à l'un des nos clients" alt="">
              <div class="down-content">
                <h4>Ecouter et mieux vivre</h4>
                <p>Les prothèses auditives RESOUND pour profiter pleinement de la vie à un coût raisonnable.
                    Passez à notre cabinet pour examen et grâce à notre partenariat exclusif avec RESOUND GN, vous  pourrez obtenir votre prothèse de grande marque au besoin.</p>
                <a href="servicesplus.ejs" class="filled-button" title="Lire la suite">Lire la suite</a>
              </div>
            </div>
          </div>
          <!--<div class="col-md-4">
            <div class="service-item">
              <img src="assets/images/service_03.jpg" title="Photo du service informatique offert à l'un des nos clients" alt="">
              <div class="down-content">
                <h4>GELATO</h4>
                <p>Présent ou pas, vous gardez un œil et une main présente sur le fonctionnement et la gestion de votre institution. CALEIDO, le logiciel de gestion de DEDALUS Italia s.p.a, spécialisé et revu pour les hôpitaux et institutions sanitaires de l’environnement congolais.</p>
                <a href="servicesplus2.ejs" class="filled-button" title="Lire la suite">Lire la suite</a>
                
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>

    <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <!--<span>une description...</span>-->
              <h1>Pourquoi nous choisir ?</h1><br>
              <h2>Nos solutions pour votre <em>croissance des affaires</em></h2>
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="row">
              <!--
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">945</div>
                  <div class="count-title">Heures de travail</div>
                </div>
              </div>
            -->
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">784</div>
                  <div class="count-title">Excellentes critiques</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">128</div>
                  <div class="count-title">Projets réalisés</div>
                </div>
              </div>
              <!--
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">26</div>
                  <div class="count-title">Récompenses gagnées</div>
                </div>
              </div>
            -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="assets/images/jeunessesss.jpg" alt="">
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span><h1> JEUNESSE ET FUTUR</h1></span>
                    <h2>Apprenez à connaître <em>notre société</em></h2>
                    <p>Afin de mieux répondre aux exigences  d’évolution des entreprises officielles et privées, notre efficacité et expertise s'ouvrent aussi dans le domaine de développement des programmes informatiques fiables et évolutifs afin d’améliorer : <br><br> La gestion et la communication des entreprises ; le développement  des applications (Web, Mobile et Desk) ; le déploiement et la maintenance des réseaux informatiques ; la maintenance des équipements informatiques et le suivi de services offerts aux clients.</p>
                    <a href="about.ejs" class="filled-button" title="Lire la suite">Lire la suite</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
    <div class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Ce qu'ils disent <em>à propos de nous</em></h2>
              <span>témoignages de nos plus grands clients</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-testimonials owl-carousel">
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>George Walker</h4>
                  <span>Chief Financial Analyst</span>
                  <p>"Nulla ullamcorper, ipsum vel condimentum congue, mi odio vehicula tellus, sit amet malesuada justo sem sit amet quam. Pellentesque in sagittis lacus."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>John Smith</h4>
                  <span>Market Specialist</span>
                  <p>"In eget leo ante. Sed nibh leo, laoreet accumsan euismod quis, scelerisque a nunc. Mauris accumsan, arcu id ornare malesuada, est nulla luctus nisi."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>David Wood</h4>
                  <span>Chief Accountant</span>
                  <p>"Ut ultricies maximus turpis, in sollicitudin ligula posuere vel. Donec finibus maximus neque, vitae egestas quam imperdiet nec. Proin nec mauris eu tortor consectetur tristique."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Andrew Boom</h4>
                  <span>Marketing Head</span>
                  <p>"Curabitur sollicitudin, tortor at suscipit volutpat, nisi arcu aliquet dui, vitae semper sem turpis quis libero. Quisque vulputate lacinia nisl ac lobortis."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    -->

    <div class="partners">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="owl-partners owl-carousel">
            
              <div class="partner-item">
                <img src="assets/images/logo-dedalus-02-1.svg" title="dedalus" alt="1">
              </div>
              
              <div class="partner-item">
                <img src="assets/images/logo_StPaul.png" title="Foyer Universitaire Saint Paul" alt="2">
              </div>
              
              <div class="partner-item">
                <img src="assets/images/COE_logo.png" title="Centro Orientamento Educativo" alt="3">
              </div>
              
              <div class="partner-item">
                <img src="assets/images/hsj.png" title="Hopital Saint Joseph" alt="4">
              </div>
              
              </div>
          </div>
        </div>
      </div>
    </div>

    

    <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 footer-item">
            <h4>JEUNESSE ET FUTUR</h4>
            <p>L’objectif poursuivi est celui d’assurer l’amélioration des conditions de services des entreprises (sociétés) et d’autres organisations en offrant des services et produits informatiques...</p>
            <ul class="social-icons">
              <li><a rel="nofollow" href="https://www.facebook.com/jeunesse.futur.10/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/FuturJeunesse" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/jeunesse-futur-5b9478200/" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Nos Partenaires</h4>
            <ul class="menu-list">
              <li><a href="#">Hopital Saint Joseph</a></li>
              <li><a href="https://www.schoolandcollegelistings.com/CD/Kinshasa/122544885038166/Foyer-Universitaire-St-Paul" title="lien du Foyer-Universitaire-St-Paul">Foyer Universitaire Saint Paul</a></li>
              <li><a href="https://www.coeweb.org/desktop/" title="lien du coeweb">C.O.E</a></li>
              <li><a href="https://www.dedalus.eu/fr/" title="lien de dedalus">Dedalus</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Nous connaitre</h4>
            <ul class="menu-list">
              <li><a href="about.ejs" title="à propos de nous">À propos de nous</a></li>
              <li><a href="about.ejs" title="comment nous travaillons">Comment Nous Travaillons</a></li>
              <li><a href="contact.ejs" title="contact">Nous Contacter</a></li>
              <li><a href="" title="politique de confidentialité">Politique de confidentialité</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item last-item" id="footercontact">
            <% if (locals.flash && locals.flash.error) { %>
              <div class="alert alert-danger alert-dismissible fade show">
                <strong>Erreur !</strong> <%= flash.error %>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              </div>
              <% } %>
              <% if (locals.flash && locals.flash.success) { %>
              <div class="alert alert-success alert-dismissible fade show">
                <strong>Success !</strong> <%= flash.success %>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              </div>
              <% } %>
            <h4>Nous Contacter</h4>
            <div class="contact-form">
              <form id="contact footer-contact" action="/footercontact" method="post">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="nom" type="text" class="form-control" id="name" placeholder="Nom complet" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="Addresse E-Mail" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Votre Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button" title="envoyer un message">Envoyer le message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright &copy; 2020 Jeunesse et futur.</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <script>
      jQuery(function(){
              $(function () {
                $(window).scroll(function () { //Fonction appelée quand on descend la page
                  if ($(this).scrollTop() > 200 ) {  // Quand on est à 200pixels du haut de page,
                    $('#scrollUp').css('right','10px'); // Replace à 10pixels de la droite l'image
                  } else { 
                    $('#scrollUp').removeAttr( 'style' ); // Enlève les attributs CSS affectés par javascript
                  }
                });
              });
            });
    </script>

    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/accordions.js"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

    <div id="scrollUp">
      <a href="#" > <img src="assets/images/to_top.png" title="Défiler vers le haut" alt="5" ></a>
    </div>
  </body>
</html>