<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>JEUNESSE ET FUTUR</title>

    <!-- Lien CSS Bootstrap-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Fichiers CSS ajoutés  -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/jeunesse-et-future.css">
    <link rel="stylesheet" href="assets/css/owl.css">
<!--

JEUNESSE ET FUTUR

https://jeuneetfuture.com : l'adresse de notre site internet

-->
  </head>

  <body>

    <!-- ***** Démarrage du préchargeur ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** fermeture du préchargeur ***** -->

    <!-- Entête -->
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <ul class="left-info">

              <!-- affichage de la date et l'heure de travail automatiquement  -->
              <li><a href="#" title="Horaire de travail"><i class="fa fa-clock-o"></i>Lundi-Vendredi, 09:00-16:00</a></li>

              <!-- affichage de notre callcenter : le numero de téléphone  -->
              <li><a href="#" title="Notre telephone"><i class="fa fa-phone"></i>00243-826-084-960</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="right-icons">

              <!-- affichage des icones des reseaux   -->
              <li><a href="https://www.facebook.com/jeunesse.futur.10/"><i class="fa fa-facebook" title="Facebook"></i></a></li>
              <li><a href="https://twitter.com/FuturJeunesse"><i class="fa fa-twitter" title="Twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/jeunesse-futur-5b9478200/" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.ejs"><h2>JEUNESSE ET FUTUR</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.ejs">Accueil
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.ejs">à Propos De Nous</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="services.ejs">Nos Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.ejs">Nous Contacter</a>
              </li>
               <li class="nav-item  active">
                <a class="nav-link" href="servicesplus.ejs" title="Gelato">Gelato</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Contenu de la page. -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Nos Services</h1>
            <span> Vous offrir les meilleurs des sercives est notre objectif</span>
          </div>
        </div>
      </div>
    </div>
      <div class="espacegauche espacehaut"><a href="services.ejs"><i class="fa fa-angle-left"> voir tous les services </i></a></div>
      <div class="more-info about-info" id="service4">
          <div class="espacegauche">
            <div class="row">
              <div class="col-md-12">
                <div class="more-info-content">
                  <div class="row">
                    <div class="col-md-8 align-self-center">
                      <div class="right-content">
                        <span>notre solide expérience en informatique</span>
                        <h2>Apprenez à connaître <em>notre entreprise</em></h2>
                        <p>un commentaire. 
                        <br><br>commentaire.</p>
                        
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="left-image">
                        <img src="assets/images/about-image.jpg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>


    <div class="callback-form callback-services" id="messageflash">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Demander un <em>rendez-vous</em></h2>
              <span>interdum nisl ac urna tempor mollis</span>
            </div>
          </div>
          <div class="col-md-12">
            <% if (locals.flash && locals.flash.error) { %>
              <div class="alert alert-danger alert-dismissible fade show">
                <strong>Erreur !</strong> <%= flash.error %>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              </div>
              <% } %>
              <% if (locals.flash && locals.flash.success) { %>
              <div class="alert alert-success alert-dismissible fade show">
                <strong>Success !</strong> <%= flash.success %>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              </div>
              <% } %>
            <div class="contact-form">
              <form id="contact" action="/services" method="post">
                <div class="row">
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="nom" type="text" class="form-control" id="name" placeholder="Nom complet" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="Addresse E-Mail" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="sujet" type="text" class="form-control" id="subject" placeholder="Sujet" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Votre Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="border-button">Envoyer un message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="partners">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="owl-partners owl-carousel">
              <div class="partner-item">
                <img src="assets/images/logo-dedalus-02-1.svg" title="dedalus" alt="1">
              </div>
              
              <div class="partner-item">
                <img src="assets/images/logo_StPaul.png" title="Foyer Universitaire Saint Paul" alt="2">
              </div>
              
              <div class="partner-item">
                <img src="assets/images/COE_logo.png" title="Centro Orientamento Educativo" alt="3">
              </div>
              
              <div class="partner-item">
                <img src="assets/images/hsj.png" title="Hopital Saint Joseph" alt="4">
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 footer-item">
            <h4>JEUNESSE ET FUTUR</h4>
            <p>L’objectif poursuivi est celui d’assurer l’amélioration des conditions de services des entreprises (sociétés) et d’autres organisations en offrant des services et produits informatiques...</p>
            <ul class="social-icons">
              <li><a rel="nofollow" href="https://www.facebook.com/jeunesse.futur.10/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/FuturJeunesse" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/jeunesse-futur-5b9478200/" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Nos Partenaires</h4>
            <ul class="menu-list">
              <li><a href="#">Hopital Saint Joseph</a></li>
              <li><a href="https://www.schoolandcollegelistings.com/CD/Kinshasa/122544885038166/Foyer-Universitaire-St-Paul">Foyer Universitaire Saint Paul</a></li>
              <li><a href="https://www.coeweb.org/desktop/">C.O.E</a></li>
              <li><a href="https://www.dedalus.eu/fr/">Dedalus</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Nous connaitre</h4>
            <ul class="menu-list">
              <li><a href="about.ejs" title="à propos de nous">À propos de nous</a></li>
              <li><a href="about.ejs" title="comment nous travaillons">Comment Nous Travaillons</a></li>
              <li><a href="contact.ejs" title="contact">Nous Contacter</a></li>
              <li><a href="#" title="politique de confidentialité">Politique de confidentialité</a></li>
            </ul>
          </div>
          
        </div>
      </div>
    </footer>
    
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright &copy; 2020 Jeunesse et futur.</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/accordions.js"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>